<div class=" wrapper d-flex flex-column flex-md-row justify-content-md-between ">
  <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-start align-items-center">
    <a class="navbar-brand " routerLink="/" >
     <span class="logo ">
       <span class="we">
         <span>w</span><span>e</span>
       </span>
    </span>
      <span class="logoendItem"><span class="r">R</span>devs</span>
    </a>
  </div>
  <div class="col-12 col-md-9 d-flex d-md-inline-flex
  justify-content-center justify-content-md-end">
      <ul class="navbar-nav d-flex flex-colomn flex-md-row  ">
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a class="nav-link "
             routerLink="/"
             routerLinkActive="activeLink"
             [routerLinkActiveOptions]="{exact:true}"
          >Home </a>
        </li>
        <li class="nav-item d-flex justify-content-center align-items-center">
          <a class="nav-link "
             routerLink="/about"
             routerLinkActive="activeLink"
             [routerLinkActiveOptions]="{exact:true}">About Us</a>
        </li>
      </ul>
  </div>
</div>



